<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=">
  <title>Kenan Efe | Barber Shop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body> 
  <nav class="navbar">
    <div class="logo-flex-wrapper">
      <h1 class="logo"><img src="{% static 'images/by_efe2.jpeg' %}"></h1>
    </div>
    <div class="hair">
      <div id="firstLine" class="line"></div>
      <div id="secondLine" class="line"></div>
      <div id="thirdLine" class="line"></div>
    </div>
    <ul class="nav-links">
      <li><a href="#About">About</a></li>
      <li><a href="#work">Work</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#footer">Contact</a></li>
    </ul>
  </nav>

  
  
  <div class="sections">
      <section id="home" class="top-section">
      {% for image in top_image %}
        <img class="top-section_img" src="{{ image.image.url }}">
      {% endfor %}
      </section>
    
<!--  ================================================== -->
    
    <section  class="info-section">
      
      <div id="About" class="info-text">
        {% for ab in about %}
        <div class="article-flex-cover">
          <h3 class="title">{{ ab.title }}</h3>
        <div class="separator"></div>
        <div class="text-wrapper">
                  <h4 class="about">{{ ab.about_us }}</h4>
        </div>
          <div class="separator_big"></div>
        </div>
        {% endfor %}
      </div>
      <div class="visual-menu">
        {% for image in about_images %}
        <div class="option"><img class="option_img" src="{{ image.image.url }}"  alt="image"> <div class="cover"></div></div>
        {% endfor %}
      </div>
      </section>
      
<!--    ============================  -->
    
    
 <section id="ourPlace" class="info-section-ourPlace">
      
  <div style="margin-top: 20px;">
    {% for picture in motion_pictures %}
    <figure class="wave m-5">
      <img src="{{ picture.image.url }}" alt="motion-picture"></img>
    </figure>
    {% endfor %}
  </div>
         

  </section> 
    
      <section id="work" class="our-team-section">
        <div class="section-title">
          {% for title in titles %}
           <h3 class="our-team-title">{{ title.videos_title }}</h3>
          {% endfor %}
          <div class="separator"></div>
        </div>
        {% for video in videos %}
        <div class="person">
          <!-- <img src="https://images.nexusapp.co/assets/a7/d0/d1/22016025.jpg" alt="person-photo" class="person-photo"> -->
          <video width="50%" height="100%" controls>
            <source src="{{ video.video.url }}" type="video/mp4">
          </video>
          <div class="about-person">
            <p class="name1">{{ video.description }}</p>
            <div class="separator_small"></div>
            <!-- <p class="about-person-text">AAAAAA</p> -->
          </div>
        </div>
        {% endfor %}
      </section>
    
<!--  ======================== GALLERY ======================== -->

    <section id="gallery" class="section-gallery">
      <div class="section-title">
        {% for title in titles %}
        <h3 class="title">{{ title.gallery_title }}</h3>
        {% endfor %}
          <div class="separator"></div>
        </div>
     <div class="gallery-container">
       {% for photo in gallery %}
       <div class="gallery_img_block">
         <img class="gallery_img" src="{{ photo.image.url }}">
       </div>
        {% endfor %}
     </div>
      <div class="popUp hide">

      </div>

    </section>

<!-- ======================== PRICES AND SERVICES ==================     -->
    
    <section class="services">
      {% for title in titles %}
        <h3 class="title">{{ title.services_title }}</h3>
      {% endfor %}
      <div class="separator"></div>
      <div class="service-wrapper">
        <div class="prices-container">
          
          <div class="col-3-img">
            <h5 class="name-icon">Kenan Efe</h5>
            <img src="https://image.flaticon.com/icons/svg/1995/1995584.svg" alt="" class="barber-icon" width="60%">
            <h5 class="barber-shop">Barber shop</h5>
          </div>
          
          <div class="text-col-wrapper">
            <div class="col-3">
              {% for service in services_left %}
              <div class="service-line">
                  <h4 class="service-name">
                    {{ service.service }}
                  </h4>
                  <p class="price">£ {{ service.price }}</p>
              </div>
              {% endfor %}
            </div>
            
            <div class="col-3">
              {% for service in services_right %}
              <div class="service-line">
                   <h4 class="service-name">
                    {{ service.service }}
                 </h4>
                 <p class="price">£ {{ service.price }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          
          
          <div class="services-note">
            {% for text in services_texts %}
            <h6 class="note">{{ text.first_text }}  <br> {{ text.second_text }}</h6>
            
          </div>
                  <p class="services-small-note">{{ text.gray_text }}</p>
            {% endfor %}
        </div>
      </div>
    </section>
<!--     ================================ -->
    
    <footer id="footer" class="footer">
      <div class="footer-container">
        
        <div class="contact-details">
          
          <div class="opening-times footer-col-3">
          {% for title in titles %}
            <h4 class="footer-titles">{{ title.hours_title }}</h4>
          {% endfor %}
          {% for hour in hours %}
          <div class="footer-line">
            <p class="line-left-side">{{ hour.hours }}</span></p>
          </div>
          {% endfor %}
            <div class="separator"></div>
        </div>
          
           <div class="contacts footer-col-3">
          {% for title in titles %}
            <h4 class="footer-titles">{{ title.contact_title }}</h4>
          {% endfor %}
          {% for cont in contacts %}
          <div class="footer-line">
            <p class="social-media-icons">
              <a href="https://instagram.com/kenanefe__?igshid=YmMyMTA2M2Y=" target="_blank"><ion-icon size="large" name="logo-instagram"></ion-icon></a>
              <a href="https://www.facebook.com/kenan.eefe" target="_blank"><ion-icon size="large" name="logo-facebook"></ion-icon></a>
              <a href="https://vt.tiktok.com/ZSd73kYCW/" target="_blank"><ion-icon size="large" name="logo-tiktok"></ion-icon></a>
            </p>
            <br>
            <p class="line-left-side">Phone: <span class="line-right-side">{{ cont.phone }}</span></p>
          </div>
          <div class="footer-line">
            <p class="line-left-side">E-mail: <span class="line-right-side">{{ cont.email }}</span></p>
          </div>
          {% endfor %}
             <div class="separator"></div>
        </div>
          <div class="address footer-col-3">
          {% for title in titles %}
            <h4 class="footer-titles">{{ title.addresses_title }}</h4>
          {% endfor %}
          {% for address in addresses %}
          <div class="footer-line">
            <p class="address">{{ address.location }}</p>
          </div>
          {% endfor %}
                <div class="separator"></div>
        </div>
          
        </div>
        
        <div class="footer-bottom">
          2022 &copy; Kenan Efe
        </div>
      </div>
    </footer>
    
    
    
  </div>
  <script src="{% static 'js/main.js' %}"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
  
<!--   https://www.tintleeds.com/ -->